img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  body {
    background-color: lightyellow;
  }
  img {
    border-style: double;
  }

  p {
    font-family: sans-serif;
  }

  h1 {
    font-family: sans-serif
  }

  footer {
    font-family: sans-serif;
  }

  label {
    font-family: sans-serif;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
    font-family: sans-serif
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: darkgreen;
  }

  .active {
  background-color: darkgreen;
  }